@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
/* font-family: "Protest Guerrilla", sans-serif; */

*{
    margin: 0;
    padding:0;

}

html{
    /* this is how we get a full sized fixed center background */
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;

}

body{
    font-family: "Protest Guerrilla", sans-serif;
    color: black;
   
}

.container{
    width: 900px;
    margin: 0 auto;
    /* when we use inline-blok to stack things
     we have to zero out the font size on the container elemant */
     font-size: 0;
}

.polaroid{
    width: 260px;
    margin: 20px;
    display: inline-block;
    /* whenever you want a child element to position within a parent element, 
    you have to relative position that parent */
    position: relative;

}

/* whenever you style an image, its usually best to
 make the image take up 100% of its parent elemment and 
 hen give the parent width and height
 */
.polaroid img{
    width: 100%;
    height: auto;
    /* border shorthand is 1- width, 2-style, 3-color */
    border: 10px solid #ccc;
    border-bottom-width: 45px;

}

.polaroid p{
    font-size: 1rem;
    position: absolute;
    bottom: 14px;
    width: 280px;
    text-align: center;

}

  