/* global styles */


*{
    /* this includes padding and border width */
    box-sizing: border-box;

}

body{
    margin: 0;
}

img{
    width: 100%;
    height: auto;
}

/* flexbox simple row layouts example */
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    border: 1px solid purple;
    background-color: rgba(255, 0, 255, 0.3);
    min-height: 40px;
}

.item{
    border: 1px solid cornflowerblue;
    background-color: rgba(0, 0, 255, 0.3);
    width: 23%;
    height: 300px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;

}

.justify-start{
    justify-content: flex-start;

}
.justify-end{
    justify-content: flex-end;
    
}
.justify-between{
    justify-content: space-between;
    
}
.justify-around{
    justify-content: space-around;
    
}
.align-start{
    align-items: flex-start;

}
.align-end{
    align-items: flex-end;
    
}
.align-center{
    align-items: center;
    
}
.self-start{
    align-self: self-start;


}
.self-end{
    align-self: self-end;
    
}
.self-stretch{
    align-self: stretch;
    
}

@media screen and (max-width:768px){
    .container{
        flex-direction: column;
    }

    .self-stretch{
        height: 300px;
        width: auto;
    }

}
    

